@page 
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="row mt-4 border shadow " style="height: 55vh;">
    <div class="col-md-6 bg-white w-50">
        <section class="m-4 mt-5">
            <form id="account" method="post">
                <h2 class="text-center m-3 mt-5 mb-5">log in</h2>
                
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating my-4 mt-5">
                    <input asp-for="Input.Email" class="form-control 
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-1">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox my-2">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 mt-5 btn-dark text-white btn btn-lg ">Login</button>
                </div>
                <div class="d-flex justify-content-between mt-3">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword" style="text-decoration: none;"><span class="text-danger"><b>Forgot your password? </b></span></a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" style="text-decoration: none;"><b class="text-dark">Register?</b></a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2 w-50 d-flex justify-content-center align-items-center">
       <img src="/image1-1.png" alt="Picture" class="img-fluid" />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
