/* _content/AuthBlazer/Shared/MainLayout.razor.rz.scp.css */
.page[b-bgvan7au6q] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-bgvan7au6q] {
    flex: 1;
}

.sidebar[b-bgvan7au6q] {
    background-color: black;
}

.top-row[b-bgvan7au6q] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-bgvan7au6q]  a, .top-row .btn-link[b-bgvan7au6q] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-bgvan7au6q] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-bgvan7au6q] {
        display: none;
    }

    .top-row.auth[b-bgvan7au6q] {
        justify-content: space-between;
    }

    .top-row a[b-bgvan7au6q], .top-row .btn-link[b-bgvan7au6q] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-bgvan7au6q] {
        flex-direction: row;
    }

    .sidebar[b-bgvan7au6q] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-bgvan7au6q] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-bgvan7au6q], article[b-bgvan7au6q] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

/* _content/AuthBlazer/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-l3gbv8ganp] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-l3gbv8ganp] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-l3gbv8ganp] {
    font-size: 1.1rem;
}

.oi[b-l3gbv8ganp] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-l3gbv8ganp] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-l3gbv8ganp] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-l3gbv8ganp] {
        padding-bottom: 1rem;
    }

    .nav-item[b-l3gbv8ganp]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-l3gbv8ganp]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item[b-l3gbv8ganp]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-l3gbv8ganp] {
        display: none;
    }

    .collapse[b-l3gbv8ganp] {
        display: block;
    }
}

#logout_sidebar_button[b-l3gbv8ganp] {
    position: absolute;
    display: inline-block;
    bottom: 80px;
    margin-left: 45px;
}
